<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    APKSEFETY
  </title>
  <link rel="stylesheet" href="/plugins/jquery-ui-1.9.2/css/base/jquery-ui-1.9.2.min.css" />
  <!-- Bootstrap core CSS-->
  <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/admin/css/sb-admin.css" rel="stylesheet">

  <link href="/admin/css/admin.css" rel="stylesheet">

</head>

<body>
  <div id="app"></div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript"
    src="/js/vendor.min.js?v=<%=(locals && locals.version) ? locals.version : '1.0.0'%>"></script>
  <script type="text/javascript"
    src="/js/bootstrap.min.js?v=<%=(locals && locals.version) ? locals.version : '1.0.0'%>"></script>


  <!-- Bootstrap core JavaScript-->
  <script src="/admin/vendor/jquery/jquery.min.js"></script>
  <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/admin/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/admin/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/admin/js/demo/datatables-demo.js"></script>

  <script
    src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dlj4ha3jrague8z5llh3z1kkp31sxktfeftrjlixypewrny1"></script>
  <script type="text/javascript" src="/plugins/jquery-ui-1.9.2/js/jquery-ui-1.9.2.min.js"></script>

</body>

</html>