*, *:before, *:after {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #0c1323;
	color: white;
	// font-family: 'Roboto', sans-serif;
	font-family: helvetica, sans-serif;
	// width: 1920px;
	margin: 0 auto;
}

hr {
	background-color: black;
	border-top: 1px solid black;
}