.main {
	min-height: 500px;
}
.container {
	// width: 1920px;
	margin: 0 auto;
	position: relative;
}
.bg-detail {
	background-image: url("../images/bgDetail.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
}
// .bg-Banner {
// 	background-image: url("../images/bgBanner.jpg");
// 	background-size: 100% 100%;
// 	background-color: red;
// }
.content {
	width: 1170px;	
	margin: 0 auto;	
	position: relative;
}

.hide { display: none !important; }
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }


.divider{
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,.2);
	margin: 20px auto;
}
.divider.dotted {
	border-bottom: 1px dotted #acacac;
	background-color: none;
}
hr.style1{
	border-top: 1px solid #ccc;
}
hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	// position: relative;
	margin-right: 10px;
	&-football {
		background-image: url(../images/icon-football.png);
	}
	&-promotion {
		background-image: url(../images/icon-promotion.png);
	}
}

.pointer { cursor: pointer; }
.opacity-100 { opacity: 1; }

.text-red {color: #ee0c2c;}
.text-grey {color: #aaa;}
.text-white {color: white;}
.text-green {color: #5bb448;}
.text-blue-dark { color: #243d66; }
.text-red-dark { color: #960202; }

.text-accent {color: #960202;}
.text-link {color: mediumblue;}
.text-info {color: #3471db;}


.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.middle {vertical-align: middle; }

.bold { font-weight: bold; }



.primary { background-color: $primary-color; }
.accent { background-color: $accent-color; }
.white { background-color: white; }

.width-25 { width: 25px; }


.width-100 { width: 100px; }
.width-150 { width: 150px; }
.width-160 { width: 160px; }
.width-170 { width: 170px; }
.width-200 { width: 200px; }


.padding-0 { padding: 0 0; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }

.padding-top-10 { padding-top: 10px; }
.padding-left-10 { padding-left: 10px; }
.padding-right-10 { padding-right: 10px; }
.padding-bottom-10 { padding-bottom: 10px; }

.padding-top-20 { padding-top: 20px; }
.padding-left-20 { padding-left: 20px; }
.padding-right-20 { padding-right: 20px; }
.padding-bottom-20 { padding-bottom: 20px; }

.padding-top-30 { padding-top: 30px; }
.padding-left-30 { padding-left: 30px; }
.padding-right-30 { padding-right: 30px; }
.padding-bottom-30 { padding-bottom: 30px; }

.padding-top-40 { padding-top: 40px; }
.padding-left-40 { padding-left: 40px; }
.padding-right-40 { padding-right: 40px; }
.padding-bottom-40 { padding-bottom: 40px; }


.margin-10 { margin: 10px; }


.margin-top-5 { margin-top: 5px }
.margin-left-5 { margin-left: 5px }
.margin-bottom-5 { margin-bottom: 5px }
.margin-right-5 { margin-right: 5px }

.margin-top-10 { margin-top: 10px }
.margin-left-10 { margin-left: 10px }
.margin-bottom-10 { margin-bottom: 10px }
.margin-right-10 { margin-right: 10px }

.margin-top-15 { margin-top: 15px }
.margin-left-15 { margin-left: 15px }
.margin-bottom-15 { margin-bottom: 15px }
.margin-right-15 { margin-right: 15px }

.margin-top-20 { margin-top: 20px }
.margin-left-20 { margin-left: 20px }
.margin-bottom-20 { margin-bottom: 20px }
.margin-right-20 { margin-right: 20px }

.margin-top-30 { margin-top: 30px }
.margin-left-30 { margin-left: 30px }
.margin-bottom-30 { margin-bottom: 30px }
.margin-right-30 { margin-right: 30px }

.margin-top-40 { margin-top: 40px }
.margin-left-40 { margin-left: 40px }
.margin-bottom-40 { margin-bottom: 40px }
.margin-right-40 { margin-right: 40px }

.margin-top-50 { margin-top: 50px }
.margin-left-50 { margin-left: 50px }
.margin-bottom-50 { margin-bottom: 50px }
.margin-right-50 { margin-right: 50px }

.margin-top-60 { margin-top: 60px }
.margin-left-60 { margin-left: 60px }
.margin-bottom-60 { margin-bottom: 60px }
.margin-right-60 { margin-right: 60px }

.margin-top-80 { margin-top: 80px }

.margin-right-17 { margin-right: 17px }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }


a.disabled {
    pointer-events: none;
    background-color: #e1e1e1 !important;
    border: none !important;
    cursor: default;
}

.relative { position: relative; }

.dimmer {
	z-index: 90;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #666 url(../images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
    opacity: .5;
    display: none;
}
.dimmer-custom {
	z-index: 90;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #666 url(../images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
    opacity: .5;
    display: none;
}