.header {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 80px;		
	font-size: 12px;
	.flex-middle {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		.logo {
			img {
				width: 270px;
				height: 33px;
			}
		}
		.flex-right {
			width: calc(100% - 270px);
			text-align: right;
			.money {
				display: inline-block;
				height: 27px;
				line-height: 27px;
				padding: 0 10px;
				color: #656565;
				border: 1px solid #656565;
				text-transform: uppercase;
				
				span {
				}
				img {
					vertical-align: middle;
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
			}
			.input {
				display: inline-block;
				width: 125px;
				height: 27px;
				padding: 0 10px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					font-size: 12px;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					font-size: 12px;
				}
				&:-ms-input-placeholder { 
					font-size: 12px;
				}
				&:-moz-placeholder { /* Firefox 18- */
					font-size: 12px;
				}
			}
			.sign {
				display: inline-block;
				width: 63px;
				height: 27px;
				line-height: 27px;
				font-size: 12px;
				text-align: center;
				text-transform: uppercase;
				cursor: pointer;
			}
			.sign.sign-in {
				background-color: #960202;
			}
			.sign.sign-up {
				border: 1px solid #960202;
				color: #84868b;
			}
			.flag {
				width: 34px;
				height: 16px;
				vertical-align: middle;
				margin-left: 30px;
				margin-right: 10px;
			}
			.dropdown-lang {
				z-index: 1000;
				position: relative;
				display: inline-block;
				color: #454545;
				a {
					img {
						vertical-align: middle;
						width: 34px;
						height: 16px;
						margin-left: 4px;
						-webkit-transform: translate(0,-2px);
						   -moz-transform: translate(0,-2px);
						    -ms-transform: translate(0,-2px);
						     -o-transform: translate(0,-2px);
						        transform: translate(0,-2px);
					}
					&:hover {
						color: lighten(#454545,20%);
						cursor: pointer;
					}
				}
				ul {
					display: none;
					position: absolute;
					top: 15px;
					right: 0;
					min-width: 200px;
					width: 200px;
					background-color: $primary-color;
					color: white;
					li {
						display: block;
						text-align: left;
						padding: 10px 20px;
						i { margin-right: 10px; }
						&:hover {
							cursor: pointer;
							background-color: lighten($primary-color, 10%);
						}
					}
				}
			}
		}
	}
	
}
.icon-flag {
	background-repeat: no-repeat;
	background-size: cover;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
}
.icon-flag-01 { background-image: url(../images/flags/flags_14.png); }
.icon-flag-02 { background-image: url(../images/flags/flags_05.png); }
.icon-flag-03 { background-image: url(../images/flags/flags_02.png); }

.icon-flag-enGB { background-image: url(../images/flag_enGB.png); }

.icon-flag-viVN { background-image: url(../images/flag_viVN.png); }

.icon-flag-zhCN { background-image: url(../images/flag_zhCN.png); }

.header-popup {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: white;
	box-sizing: border-box;
	.logo-header {
		float: left;
		width: 270px;
		img {
			vertical-align: middle;
		}
	}
	.menu-header {
		float: right;
		width: calc(100% - 270px);
		ul {
			text-align: right;
			list-style-type: none;
			li {
				display: inline;
				margin-right: 4px;
				text-align: center;

				
				
				a {
					width: 156px;
					height: 30px;
					line-height: 30px;
					border-radius: 6px;
					display: inline-block;
					background-color: #ca8080;
					color: white;
					text-decoration: none;
					cursor: pointer;
					transition: all .5s;
					
					i {
						width: 16px;
						height: 30px;
						line-height: 30px;
						display: inline-block;
						img {
							vertical-align: middle;
							padding-bottom: 4px;
							margin-right: 4px;
						}
					}
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					a {
						background-color: $accent-color;
					}
				}
			}
			.active {
				a {
					background-color: $accent-color;
				}
			}
		}
	}
}