.menu-top {
	position: relative;
	z-index: 10;
	height: 40px;
	line-height: 40px;
	background-color: $accent-color;
	color: white;
	ul {
		z-index: 1020;
		display: inline-block;
		float: right;
		text-transform: uppercase;
		position: relative;
		li {
			list-style-type: none;
			// position: relative;
			float: left;
			padding-left: 20px;
			transition: all .5s;
			a {
				display: inline-block;
				text-decoration: none;
				color: white;
			}
			ul {
				display: none;
				position: absolute;
				top: 40px;
				right: 0;
				width: 1170px;
				height: 40px;
				text-align: right;
				background-color: white;
				li {
					float: right;
					padding: 0 10px;
					a {
						color: #0c1323;
					}
					&:hover {
						cursor: pointer;
					}
				}
			}
			&:hover {
				box-shadow: inset 0 -2px 0px white;
				cursor: pointer;
				ul {
					display: block;
					li {
						a {

						}
						&:hover {
							a { color: $accent-color; }
						}
					}
				}
			}
		}
		.active {
			box-shadow: inset 0 -2px 0px white;
			ul {
				display: block;
				li {
					a {

					}
					&:hover {
						cursor: pointer;
						a { 
							color: $accent-color; 
						}
					}
				}
			}
		}
	}
}

.menu-sport {
	list-style-type: none;
	li {
		display: block;
		padding: 10px 10px 10px 10px;
		a {
			position: relative;
			padding-left: 30px;
			i.icon-sport {
				position: absolute;
				top: -2px;
				left: 0;
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-right: 10px;
				background-repeat: no-repeat;
				background-size: cover;
			}
			span {

			}
		}
		&:hover {
			cursor: pointer;
			background-color: rgba(0,0,0,.1);
		}
	}
	li.active {
		background-color: rgba(0,0,0,.1);
	}
}


.icon-sport-basketball { background-image: url(../images/icon-basketball.png); }
.icon-sport-soccer { background-image: url(../images/icon-soccer.png); }
.icon-sport-tennis { background-image: url(../images/icon-tennis.png); }
.icon-sport-alpine { background-image: url(../images/icon-alpine.png); }

.icon-sport-ausie { background-image: url(../images/icon-ausie.png); }
.icon-sport-baseball { background-image: url(../images/icon-baseball.png); }
.icon-sport-biathlon { background-image: url(../images/icon-biathlon.png); }
.icon-sport-boxing { background-image: url(../images/icon-boxing.png); }

.icon-sport-cricket { background-image: url(../images/icon-cricket.png); }
.icon-sport-cross { background-image: url(../images/icon-cross.png); }
.icon-sport-curling { background-image: url(../images/icon-curling.png); }
.icon-sport-cycling { background-image: url(../images/icon-cycling.png); }

.icon-sport-esports { background-image: url(../images/icon-esports.png); }
.icon-sport-golf { background-image: url(../images/icon-golf.png); }
.icon-sport-handball { background-image: url(../images/icon-handball.png); }


.menu-top-popup {
	margin-top: 80px;
	height: 40px;
	line-height: 40px;
	background-color: $accent-color;
	font-size: 14px;
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			padding: 0 20px;
			transition: all 1s;
			a {
				display: inline-block;
				color: white;
				text-decoration: none;
				img {
					vertical-align: middle;
				}
			}
			&:hover {
				background-color: rgba(0,0,0,.5);
			}
		}
	}
}