.panel {
	// border: 1px solid #ccc;
	background: #ebebeb;
	color: #474d58;
	.panel-header {
		height: 40px;
		line-height: 40px;
		margin: 0 20px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		transition: 0.4s;
		border-bottom: 1px solid #acacac;
		.header-right {
			float: right;
			display: inline-block;
			height: 40px;
			line-height: 40px;
			i {
				margin-top: 15px;
				margin-left: 10px;
			}
		}
		&-60 {
			text-align: center;
			height: 60px;
			line-height: 60px;
		}
		// &:after {
  //           content: '\f067';
  //           font-size: 13px;
  //           font-family: FontAwesome;
  //           color: #777;
  //           float: right;
  //           margin-right: 10px;
  //           transition: all 1s;
  //       }
        &+.panel-body {
        	font-size: 14px;
			padding: 10px 10px 20px 10px;
			&-20 {
				padding: 20px;
			}
		}
	}
	.panel-header.active {
		// &:after {
  //           content: "\f068";
  //       }
	}
	.panel-footer {
		height: 60px;
		line-height: 60px;
		background: #eee;
		text-align: right;
		padding-right: 10px;
	}	

	.button-panel {
		display: inline-block;
		width: 107px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		border: 1px solid #acacac;
		&:hover {
			background-color: rgba(0,0,0,.1);
			cursor: pointer;
		}
		&-red {
			background-color: $accent-color;
			color: white;
			border-color: $accent-color;
			&:hover {
				background-color: lighten($accent-color, 10%);
			}
		}

	}
	.button-panel.normal {
		font-weight: normal;
		text-transform: none;
	}
}
.panel-bar {
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	text-transform: uppercase;
	background-color: $accent-color;
	color: white;
	border: 1px solid #acacac;
	h4 {
		font-size: 14px;
	}
	span {
		float: right;
		font-size: 13px;
	}
}